html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #__next {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin-top: 1.2rem !important;
  margin-bottom: 1.2rem !important;
}

* {
  box-sizing: border-box;
}

.main-content {
  min-height: 100vh;
}

.b-left {
  border-left-width: 3px !important;
  border-right-width: 0 !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

.b-right {
  border-left-width: 0 !important;
  border-right-width: 3px !important;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}

@media screen and (min-width: 1281px) {
  .main-content {
    height: 100% !important;
  }
}

@media screen and (max-width: 1281px) {
  tr {
    display: flex !important;
    flex-direction: column;
    justify-content: center
  }

  table thead {
    display: none
  }

  tr {
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgb(10, 10, 10, .1);
    /* margin-bottom: 16px; */
  }

  tr:not(.detail):not(.is-empty):not(.table-footer) td:before,
  tr:not(.detail):not(.is-empty):not(.table-footer) th:before {
    content: attr(data-label);
    font-weight: 600;
    padding-right: .5rem;
    text-align: left;
  }

  td, th {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
}

/* Tickets */
@media(max-width: 1090px) {
  .ticket-container {
    display: flex;
    flex-direction: column-reverse !important;
  }
}

@media(min-width: 1090px) {
  .ticket-container {
    display: flex;
    flex-direction: row !important;
  }
}