@media(max-width: 1090px) {
  .ticket-container {
    display: flex;
    flex-direction: column-reverse!important;
  }
}

@media(min-width: 1090px) {
  .ticket-container {
    display: flex;
    flex-direction: row!important;
  }
}